.logos{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  border: 2px solid black;
  
}
.icon{
  font-size: 40px;

}
.icon:hover{
  background-color: red;
}

.searchGrid{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:770px) {
  .img_search img{
    height:125px;
    width:125px
  }
  }

  @media screen and (min-width:770px) {
.img_search img{
  flex: 1 0 21%;
  width: 250px;
  height: 250px;
}
  }


