.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navBar {
  position: fixed;
  top:0;
  z-index: 1;
  max-height: 40px;
  min-width: 100%;
  background-color:white;
}
.navigationBar {

  position: fixed;
  top:0;
  z-index: 1;
  max-height: 40px;
  min-width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  padding: 6px;
  padding-bottom: 0px;

}
.navigationBar a{
  position: relative;
  top:5px;
  text-decoration: none;
  color: black;
}
.navBarItems {
  min-height: 26px;
  max-height: 26px;
}
.enditemsContainer {
  margin-right: 10px;
}
#instaTitle {
  padding-top:8px;
}
.linkTo {
  text-decoration: none;
}
.chat {
  margin-left:10px;
  display: flex;
  position: relative;
  top:50px;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid rgb(243, 241, 241)
}
.chat .chatMessages {
  margin:0;
  margin-left:10px;
  overflow: hidden;
}
.chat .chatMessages p {
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  overflow: hidden;
}
.greyedText {
  color: rgb(163, 163, 163);

}
.profilePic {
  border-radius: 50%;
  height: 40px;
  max-height: 40px;
  width: 40px;
  max-width: 40px;
  vertical-align: middle;
  object-fit: cover;
}
@media only screen and (min-width: 770px) {
  .posts {
    top:40px;
    max-width: 50%;
    margin:auto;
    border: 1px solid #282c342f;
  }
  .mainpost img {
    min-width: 100%;
    width:100%;
  }
  .interactIcon{
    max-height: 30px;
    max-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.user {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 100%;
  width: 100%;
  align-content: center;   
  max-height: 50px;
}
.profileHolder {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  vertical-align: middle;
}
.profileHolder p {
  padding-left: 15px;
  margin-top:12px;
}
.posts p {
  font-size:18px;
}
.posts {
  position: relative;
  top:40px;
  width:100%;
  padding: 3px;
  padding-bottom:50px;
}
.posts .mainpost img {
  min-width: 100%;
  width: 100%;
}
.posts .bottombox .interactBox{
  position: relative;
  display: flexbox;
  width: 100%;
  flex-wrap: wrap;
}
.posts .imageCaption {
  position: relative;
  line-height: 16px;
}
.interactIcon{
  max-height: 20px;
  max-width: 20px;
  padding-left: 10px;
  padding-right: 10px;
  
}
.posts .bottombox .interactBox {
  position: relative;
  vertical-align: middle;
}
.post {
  padding-top:3px;
  padding-bottom:3px;
}
.logos{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  min-height:50px;
  height: 50px;
  left: 0;
  bottom: 0;
  background-color: white;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.274);
}
.icon{
  font-size: 40px;
  color:black;

}
.icon:hover{
  color: rgb(49, 49, 49);
}

.searchGrid{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  top:40px;
  bottom:100px;
}

@media screen and (max-width:770px) {
  .img_search img{
    height:125px;
    width:125px
  }
  }

  @media screen and (min-width:770px) {
.img_search img{
  flex: 1 0 21%;
  width: 250px;
  height: 250px;
}
  }
.searchInput {
  position: relative;
  margin-left:10px;
  margin-top:10px;
  width:80%;
  border: none;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  min-height: 18px;
}
.searchBarIcon {
  position: relative;
  margin-top:10px;
  margin-left:10px;

}
.searchTagsBox {
  position: relative;
  top: 5px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
.searchTags {
  border-radius: 10px;
  border: 1px solid #282c342f;
  padding: 3px;
  margin-left: 8px;
}
.month{
  position: relative;
  border-radius: 10px;
  padding: 3px;
  margin-left: 8px;
  top: 50px;
}
.profileGrid{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  top:60px;
  bottom:100px;
}

@media screen and (max-width:770px) {
  .profileGrid img{
    height:125px;
    width:125px
  }
  }

  @media screen and (min-width:770px) {
.profileGrid img{
  /* flex: 1 0 21%; */
  width: 250px;
  height: 250px;
}
  }
.profileName{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profileImageContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 150px;
  width: 200px; */
  margin-left: 100px;
  border: 2px solid orange;
}
.profileImageContainer img{
  /* position: relative; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid gold;
}
.profileStats{
  height: 100px;
  width: 600px;
  display: flex;
  border: 3px solid black;
  justify-content: space-evenly;
  margin-left: 400px;
  /* margin-top: -500; */
  z-index: 2;
}
